:root {
    --col: 12;
    --gap: 15px;
    --g: 16px;
    --fvw:.0;
    --max-fvw: 6rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body{overflow-x: hidden;}
span{display: inline-block;}
img {max-width: 100%;}

.ani{ transition: all .15s ease-in-out ; }
.ani-2{ transition: all .5s ease-in-out ; }
.ani-h{transition: height .3s ease-in-out ;}
.bdw{border: 1px solid white;}
.bdb{border: 1px solid;}
.bdr{border: 1px solid red;}
.bdg{border: 1px solid green;}

.df {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gutter-x, 1.25rem);
    row-gap: var(--gutter-y, 1.25rem);
    align-content: space-around;
    align-items: center;
}

.jcc{ justify-content: center; }
.jcsb{ justify-content: space-between; }
.jcsa{ justify-content: space-around; }
.jcse{ justify-content: space-evenly; }
.overflow-hidden{overflow: hidden;}
.no-wrap {flex-wrap: nowrap;}
.nowrap { white-space: nowrap !important; }

.fg{flex-grow: 1;}
.fs {flex-shrink: 1;}
.aifs {align-items: flex-start;}
.aife {align-items: flex-end;}
.ais {align-items: stretch;}
.aic {align-items: center;}
.acfs {align-content: flex-start;}
.acfe {align-content: flex-end;}
.acc {align-content: center;}

.dib{display: inline-block;}

.translate-center{
    translate: -50% -50%;
}
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.bg-fit {
    background-size: cover;
    background-repeat: no-repeat;
}

.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}

h1,.h1 {font-size:calc(2rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
h2,.h2 {font-size:calc(1.5rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
h3,.h3 {font-size:calc(1.17rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
h4,.h4 {font-size:calc(1rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
h5,.h5 {font-size:calc(.83rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
h6,.h6 {font-size:calc(.67rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}
p, span, a, button, li {font-size:calc( 1rem + min(var(--max-fvw), calc(var(--fvw) * 1vw)));}

.rel { position: relative;} 
.abs {position: absolute;}
.overflow-hidden {overflow: hidden;}
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-grid { display: grid; }
.d-table { display: table; }
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
.d-none { display: none; }
.d-flex { display: flex; }
.flex-fill { flex: 1 1 auto; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column-reverse { flex-direction: column-reverse; }
.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

[style*=--container\;], .container, .container {
    width: 100%;
    padding-right: var(--gutter-x, 0.75rem);
    padding-left: var(--gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

[style*=--row\;], .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(var(--gutter-y) * -1);
    margin-right: calc(var(--gutter-x) * -.5);
    margin-left: calc(var(--gutter-x) * -.5);
}

[style*=--row\;] > *, .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

[style*=--col], .col {
    display: flex;
    flex-wrap: wrap;
    gap: var(--g, 16px);
    width: 100%;
    flex: 1 0 0%;
    max-width: calc((100%/12) * min(var(--col), 12))
}

[style*=--col\:], [style*=--col-] {flex: unset;}
[style*=--offset\:] {margin-left: calc((100%/12) * min(var(--offset), 11));}

[style*=--g\:] {
    --gutter-x: calc(0.25rem * var(--g));
    --gutter-y: calc(0.25rem * var(--g));
    column-gap: calc(0.25rem * var(--g));
    row-gap: calc(0.25rem * var(--g));
}

[style*=--gx\:] { --gutter-x: calc(0.25rem * var(--gx)); }
[style*=--gy\:] { --gutter-y: calc(0.25rem * var(--gy)); }
[style*=--col-g\:] { column-gap: calc(0.25rem * var(--col-g)); }
[style*=--row-g\:] { row-gap: calc(0.25rem * var(--row-g)); }
[style*=--row-cols\:]>* {
    flex: 0 0 auto;
    width: calc(100% / var(--row-cols))
}

[style*=--row-cols-auto]>* { width: auto; }


/* global style */
* {
    /* padding */
    --pt: var(--p); --pb: var(--p); --px: var(--p); 
    --py: var(--p); --pr: var(--px); --pl: var(--px);
    padding: calc(0.25em * var(--p));  
    padding-top: calc(0.25em * var(--py)); 
    padding-bottom: calc(0.25em * var(--py));
    padding-top: calc(0.25em * var(--pt)); 
    padding-bottom: calc(0.25em * var(--pb)); 
    padding-left: calc(0.25em * var(--pl)); 
    padding-right: calc(0.25em * var(--pr)); 
    padding-left: calc(0.25em * var(--pl,--px)); 
    padding-right: calc(0.25em * var(--pr,--px));

    /* margin */
    --mt: var(--m); --mb: var(--m); --mx: var(--m);
    --my: var(--m); --mr: var(--mx); --ml: var(--mx);
    margin: calc(0.25em * var(--m));
    margin-top: calc(0.25em * var(--my));
    margin-bottom: calc(0.25em * var(--my));
    margin-top: calc(0.25em * var(--mt));
    margin-bottom: calc(0.25em * var(--mb));
    margin-left: calc(0.25em * var(--ml));
    margin-right: calc(0.25em * var(--mr));
    margin-left: calc(0.25em * var(--ml,--mx));
    margin-right: calc(0.25em * var(--mr,--mx));
    
    /* border */
    /* border: var(1px solid var(--bd), unset); */
    border-radius: var(--br);

    /* background */
    background: var(--bg);
    /* background-size: var(--bg-size); */
    backdrop-filter: blur(calc(var(--blur) * 1px)); -webkit-backdrop-filter: blur(calc(var(--blur) * 1px));
    box-shadow: var(--bs-color) 0px 0px var(--bs-blur) var(--bs);

    gap: var(--gap);
    /* transform: translateX(var(--x));
    transform: translateY(var(--y));
    z-index: var(--z);
    position: var(--pos);
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    opacity: var(--op); */

    width: var(--w);
    min-width: var(--minw);
    max-width: var(--maxw);

    height: var(--h);
    min-height: var(--minh);
    max-height: var(--maxh);

    aspect-ratio: var(--ar);
    
    font-size: calc(var(--fs) + calc(var(--fvw) * 1vw));
    font-weight: var(--fw);
    line-height: var(--lh);
    color: var(--c);
}

body {
    --p:3;
}